# Full reference: https://github.com/lowlighter/metrics#-documentation
name: Metrics
on:
  # Schedule updates
  schedule: [{cron: "0 * * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          # GitHub token
          token: ${{ secrets.METRICS_TOKEN }}

          # Options
          user: mBelisarius
          template: classic
          base: repositories, metadata
          base_indepth: yes
          repositories: 100
          repositories_forks: yes
          repositories_affiliations: owner, collaborator
          config_timezone: America/Sao_Paulo
          
          # Plugin Languages (most used languages)
          plugin_languages: yes
          plugin_languages_analysis_timeout: 15
          plugin_languages_analysis_timeout_repositories: 7.5
          plugin_languages_categories: markup, programming
          plugin_languages_ignored: Jupyter Notebook, CMake
          plugin_languages_colors: github
          plugin_languages_details: lines, percentage
          plugin_languages_indepth: true
          plugin_languages_limit: 4
          plugin_languages_sections: most-used
          plugin_languages_threshold: 0%
          commits_authoring: Marcos Belizario, mBelisarius, mBelisarius@users.noreply.github.com

          # Additional plugins
          # https://github.com/lowlighter/metrics/blob/master/source/plugins/notable/README.md
          # https://github.com/lowlighter/metrics/blob/master/source/plugins/posts/README.md
          # https://github.com/lowlighter/metrics/blob/master/source/plugins/sponsors/README.md
